Repository neiropacks/ink-tui-kit: changes, and which lefthook commands are due for each by the changed paths.
All: check, format-yaml, format-markdown

lefthook.yml:

pre-commit:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css}"
      run: bun run format:biome --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    format-yaml:
      glob: "*.{yml,yaml}"
      run: bun run format:dprint --staged {staged_files}
      stage_fixed: true
    format-markdown:
      glob: "*.md"
      run: bun run format:markdown --staged {staged_files}
      stage_fixed: true
    typecheck:
      run: bun run typecheck

refactor(ink-mouse): unify handler registration following KISS and DRY
  .changeset/ink-mouse-refactor.md
  packages/ink-mouse/src/hooks/useMouseEventInternal.ts
  packages/ink-mouse/src/hooks/useOnClick.ts
  packages/ink-mouse/src/hooks/useOnMouseEnter.ts
  packages/ink-mouse/src/hooks/useOnMouseLeave.ts
  packages/ink-mouse/src/hooks/useOnWheel.ts
  packages/ink-mouse/src/provider.tsx
  packages/ink-mouse/src/types.ts
Due: check, format-markdown

feat(ink-mouse): add press, release, move, and drag event support
  .changeset/ink-mouse-new-hooks.md
  packages/ink-mouse/README.md
  packages/ink-mouse/src/hooks/index.ts
  packages/ink-mouse/src/hooks/useMouseEventInternal.ts
  packages/ink-mouse/src/hooks/useOnDrag.ts
  packages/ink-mouse/src/hooks/useOnMouseMove.ts
  packages/ink-mouse/src/hooks/useOnPress.ts
  packages/ink-mouse/src/hooks/useOnRelease.ts
  packages/ink-mouse/src/index.ts
  packages/ink-mouse/src/provider.tsx
  packages/ink-mouse/src/types.ts
Due: check, format-markdown

feat(ink-mouse): make cacheInvalidationMs configurable
  packages/ink-mouse/README.md
  packages/ink-mouse/src/constants.ts
  packages/ink-mouse/src/provider.tsx
Due: check, format-markdown

docs(ink-mouse): enhance geometry utilities documentation
  .gitignore
  .markdownlint-cli2.jsonc
  packages/ink-mouse/README.md
  packages/ink-mouse/src/utils/geometry.ts
Due: check, format-markdown

test(ink-mouse): add comprehensive test suite for geometry and hooks
  CLAUDE.md
  bun.lock
  docs/solutions/testing-ink-components-with-hooks.md
  packages/ink-mouse/package.json
  packages/ink-mouse/src/geometry.test.ts
  packages/ink-mouse/src/hooks.test.tsx
  packages/ink-mouse/src/utils/geometry.test.ts
  packages/ink-mouse/test/mocks/ink-element.ts
Due: check, format-markdown

feat(monorepo): add centralized test and coverage reporting system
  CLAUDE.md
  bunfig.toml
  package.json
  packages/ink-mouse/.gitignore
  packages/ink-mouse/package.json
Due: check, format-markdown

docs(ink-mouse): complete Phase 4 documentation and CI setup
  .github/workflows/ci.yml
  packages/ink-mouse/README.md
  packages/ink-mouse/TEST-GUIDE.md
  packages/ink-mouse/package.json
Due: check, format-yaml, format-markdown

chore(monorepo): add MIT license to project
  LICENSE
  package.json
  packages/ink-mouse/package.json
Due: check

ci(release): configure Trusted Publishing (OIDC) for npm
  .github/workflows/release.yml
  docs/github-actions-setup.md
Due: format-yaml, format-markdown

chore: add changeset for Trusted Publishing configuration
  .changeset/trusted-publishing-setup.md
Due: format-markdown

docs(release): update documentation for NPM_TOKEN usage
  .github/workflows/release.yml
  docs/github-actions-setup.md
Due: format-yaml, format-markdown

chore: test OIDC publishing
  .changeset/blue-pandas-flow.md
Due: format-markdown

fix: use setup-node action instead of global npm install
  .github/workflows/release.yml
Due: format-yaml

chore: update xterm-mouse dependency to @ink-tools organization
  docs/migration-guide.md
  docs/solutions/testing/testing-react-hooks-error-handling-monorepo.md
  packages/ink-mouse/CLAUDE.md
  packages/ink-mouse/README.md
  packages/ink-mouse/src/hooks/useMouse.ts
  packages/ink-mouse/src/integration/integration.test.tsx
  packages/ink-mouse/src/provider.tsx
  packages/ink-mouse/src/types.ts
  packages/ink-mouse/test/mocks/mouse-events.ts
Due: check, format-markdown

fix: resolve workspace dependency in ink-mouse build
  packages/ink-mouse/tsconfig.json
Due: check

fix: remove registry-url from setup-node to enable OIDC
  .github/workflows/release.yml
Due: format-yaml

fix: correct changeset YAML format for OIDC test
  .changeset/test-oidc-publishing.md
Due: format-markdown

fix: replace bun changeset publish with custom scripts to resolve workspace dependencies
  .changeset/test-oidc-publishing.md
  .github/workflows/release.yml
  bun.lock
  package.json
Due: check, format-yaml, format-markdown

chore: add Node.js engines requirement and matrix testing
  .github/workflows/ci.yml
  package.json
  packages/ink-mouse/package.json
  packages/xterm-mouse/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check, format-yaml

fix: correct changeset version command in release workflow
  .github/workflows/release.yml
Due: format-yaml

fix: rebuild packages after version bump in release workflow
  .github/workflows/release.yml
Due: format-yaml

docs: update documentation for pnpm and Vitest migration
  docs/github-actions-setup.md
  docs/migration-guide.md
  docs/solutions/ci-cd/github-actions-oidc-unscoped-package-setup.md
  docs/solutions/ci-cd/npm-oidc-prevention-and-best-practices.md
  docs/solutions/ci-cd/npm-oidc-scoped-to-unscoped-migration.md
  docs/solutions/ci-cd/npm-trusted-publishing-oidc-setup.md
  docs/solutions/testing-ink-components-with-hooks.md
  docs/solutions/testing/integration-tests-ink-mouse-event-workflows.md
  docs/solutions/testing/testing-react-hooks-error-handling-monorepo.md
  docs/testing-monorepo-packages.md
  packages/xterm-mouse/docs/TESTING.md
Due: format-markdown

fix: use changeset publish in release workflow
  .github/workflows/release.yml
Due: format-yaml

refactor: remove tsconfig paths, rely on pnpm workspace
  packages/ink-mouse/tsconfig.json
Due: check

fix: suppress return value in forEach callbacks
  scripts/verify-vitest-configs.js
Due: check

chore: exclude barrel files from coverage report
  packages/ink-mouse/vitest.config.ts
Due: check

refactor: split Mouse class into smaller focused classes
  packages/xterm-mouse/src/core/ClickDetector.ts
  packages/xterm-mouse/src/core/EventStreamFactory.ts
  packages/xterm-mouse/src/core/Mouse.original.ts
  packages/xterm-mouse/src/core/MouseConvenienceMethods.ts
  packages/xterm-mouse/src/core/MouseEventManager.ts
  packages/xterm-mouse/src/core/PositionTracker.ts
  packages/xterm-mouse/src/core/TTYController.ts
Due: check

test: improve EventStreamFactory coverage from 13 to 21 tests
  packages/xterm-mouse/src/core/EventStreamFactory.test.ts
Due: check

test: fix GC tests in Mouse.test.ts
  packages/xterm-mouse/src/core/Mouse.test.ts
Due: check

chore: add changeset for Mouse class refactoring
  .changeset/refactor-mouse-class.md
Due: format-markdown

chore: rename root package from ink-tui-kit to ink-tools
  package.json
Due: check

docs: update CLAUDE.md with actual package structure and build configuration
  CLAUDE.md
Due: format-markdown

docs: update package CLAUDE.md files with actual structure and commands
  packages/ink-mouse/CLAUDE.md
  packages/xterm-mouse/CLAUDE.md
Due: format-markdown

docs: compress all CLAUDE.md files while preserving essential information
  CLAUDE.md
  packages/ink-mouse/CLAUDE.md
  packages/xterm-mouse/CLAUDE.md
Due: format-markdown
